*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

    word-break: keep-all;
}

/* 공용 css */
.flex{
    display: flex;
}

.color{
    background-color: #e3e6ed;
}


header{
    display: flex;
    justify-content: space-between;

    padding: 10px;
}

header ul{
    display: flex;
}

aside{
    width: 15%;
    height: 100%;
    border: 1px solid #ccc;
}

main{
    width: 85%;
}

.div1 {
    display: flex;
    padding: 20px;
}

main > div{
    border: 1px solid #ccc;
}

.left{
    width: 50%;
}

.left section article h2{
    font-size: 32px;
}
.left section article h4{
    font-size: 16px;
}

.right{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.right .card{
    width: 40%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}